0-select_states.sql
4-cities_by_state.sql
__pycache__
6-model_state.sql
7-model_state_fetch_all.sql
14-model_city_fetch_by_state.sql
100-relationship_states_cities.sql
101-relationship_states_cities_list.sql
