__pycache__
0-main.py
10-main.py
11-main.py
12-main.py
13-main.py
14-main.py
1-main.py
2-main.py
3-main.py
4-main.py
5-main.py
6-main.py
7-main.py
8-main.py
my_dict.json
my_fake.json
my_file_0.txt
my_first_file.txt
my_list.json
my_set.json
10-my_class_2.py
10-my_class.py
10-main_2.py
add_item.json
file_append.txt
student.json
append_after_100.txt
100-main.py
